<hello name="{{ name }}"></hello>
<p>
  Belajar angular pertama
  <br>
  {{"Contoh menulis di angular"}}
  25 + 25 = {{25+25}}

  <input [(ngModel)]="a" type="text">
  {{a}}

  <br>
  <br>

  <input [(ngModel)]="varA" type="text"> *
  <input [(ngModel)]="varB" type="text"> =
  {{varA*varB}}

  <br>

</p>

<div *ngFor = "let buah of item; let i = index">
   {{i+1}}. {{buah.nama}} - {{buah.harga | currency:'Rp. '}}
</div>

<div *ngFor="let data of itemArr">
 {{data}}
</div>

<p *ngIf="show">Tampilkan jika show = true</p>

<ng-template
  *ngIf = "show; then showBlock; else notShowBlock">
</ng-template>

<ng-template #showBlock>
  <p>
    Show this only if show is true
  </p>
</ng-template>

<ng-template #notShowBlock>
  <p>
    Show this only if show is not true
  </p>
</ng-template>

<p>
  <button (click)="klikButton()">Tekan</button>
  {{pesan}}
</p>
